.formContainer {
  max-width: 300px;
  margin: auto;
}

.inputTitle {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.deleteIcon {
  margin-top: 10px;
  margin-right: 8px;
}

.inputDescription {
  width: 93%;
  margin-left: 7%;
}

.saveButton {
  color: #fff;
  background-color: #7fcca1;
  float: right;
  width: 70px;
}

.addButton {
  color: #fff;
  background-color: #de8200;
  width: 151px;
  width: 65%;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  margin-top: 10px;
}
.goalsContainer {
  box-shadow: 5px 7px 2px 8px lightgrey;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.addIcon {
  top: 4px;
  left: 30px;
}
